.order{
    margin: 1.2rem 0.7rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    box-shadow: var(--shadow);
    background-color: white;
}

.order__header {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    
}

.coin__details{
    font-weight: 500;
}

.order__header > h3{
    font-size: 1.2rem;
}

.order__coin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.344);
    margin-top: 1rem;
    border-radius: 1.5rem;
    padding: 0.3rem 0.25rem;
}   

.coin__details > img{
    object-fit: contain;
    height: 42px;
    margin-right: 10px;
}

.stat__header{
    margin: 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
}

.ostats{
    width: 100%;
    margin: 1.2rem 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ostats:hover, .--active{
    
    color: rgb(255, 255, 255); 
    border-radius: 1.4rem;
}   

.ostats > span{
    font-weight: 500;
}
